<div class="card">

<div class="card-header">
<ng-content select=".header"></ng-content>
</div>
<div class="card-body">
    <ng-content select=".body"></ng-content>
</div>

</div>


<panel>

    <div class="header">
        the header is here
    </div>
    <div class="body">
        <h3> this is the body</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dicta aut accusantium minus sapiente ea amet dolores mollitia autem doloremque facilis reprehenderit dolore, ipsam id quas commodi minima rem eius!</p>
    </div>
  <button class="btn-primary">hello</button>
</panel>

